extends layout

block content
    h1 #{title} us
    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse ratione quis consequatur ea, eos vitae quas aliquid odit officiis nesciunt repellat voluptates itaque, debitis amet modi perspiciatis quasi quam delectus.
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, laboriosam officiis doloremque fuga assumenda numquam repellendus? Ea dolorem odit consequatur eius esse exercitationem, aperiam, velit nostrum impedit mollitia quos numquam.
