extends layout

block content
  .jumbotron
    .container
      .row
        .col-md-7
          h1 Computer Not Working?
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, voluptatem odio eaque dolorem ad repellendus. Expedita distinctio possimus modi cupiditate sunt iure quae animi debitis? Distinctio praesentium sint id. Ut?
          p 
            a.bth.btn-primary.btn-lg(href='#') Learn more
        .col-md-5
          img.img-fluid(src='images/pug.png')
  .row
    .col-md-4
      .card(style='padding : 10px;')
        h2 Hardware Problems?
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, earum? Molestias amet obcaecati similique temporibus. Obcaecati in laudantium modi, sit distinctio suscipit recusandae voluptatem aut possimus vero. Libero, enim numquam.
    .col-md-4
      .card(style='padding : 10px;')
        h2 Software Problems?
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, earum? Molestias amet obcaecati similique temporibus. Obcaecati in laudantium modi, sit distinctio suscipit recusandae voluptatem aut possimus vero. Libero, enim numquam.
    .col-md-4
      .card(style='padding : 10px;')
        h2 Hardware Problems?
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, earum? Molestias amet obcaecati similique temporibus. Obcaecati in laudantium modi, sit distinctio suscipit recusandae voluptatem aut possimus vero. Libero, enim numquam.